* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: white;
  height: 5 rem;
  line-height: 5rem;
}

.choice {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

img {
  height: 190px;
  width: 190px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
}

#u #c {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: blanchedalmond;
  font-size: 2rem;
  display: inline;
  border-radius: 5rem;
  padding: 12px;
}
